.input {
    
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin:5px;
}

.input:focus {
    
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin:5px;
}